h1{
  font-style: italic;
  text-align: center;
    animation-duration: 3s;
  animation-name: slidein;
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    animation-duration: 6s;
    animation-name: slidein
  
}
.header{
  background-color: grey;
  border-style: hidden;
  text-align: center;
}
.headerText{
  width: 293px;
  text-decoration-line: underline;
  border-style: hidden;
  background-color: grey;
}
.schHeader{
 
  /*background-color: grey;*/
  border-style: hidden;
  text-align: center;
  display: flex;
}
.schHeaderText{
  width: 100px;
  background-color: grey;
  border-style: hidden;
  text-align: center;
}
.Container1{
border-style: solid;
border-color:lightskyblue;
width: auto;
height: auto;
background-color: khaki;
}
.InitialSetup{
  width:min-content;
  border-style:hidden;
  border-color: lightseagreen;
}
.labels{
  display: flex;
  justify-content:last baseline;
  /*flex-direction: column;*/
  align-items: center;
}
.labelSetup{
  width: 300px;
  overflow-x: scroll;
}
.labelText {
  width: 100px;
  overflow-x: scroll;
}

.printChallenges {
  display: flex;
  justify-content: space-evenly;
}

.labelHeader {
  width: 100px;
  text-align: center;
  background-color:lightblue;
}

.printActivities {
  display: flex;
  justify-content: space-around;
}
.printNonActivities {
  border-style: dashed;
  border-color: lightseagreen;
}
.printSelActivities {
  border-style: dashed;
  border-color: lightseagreen;
}
.printReview {
  display: flex;
  justify-content: space-around;
}
/*Button {
  padding-left: 250px;
}*/
.schHeaderButton {
  background-color: grey;
  border-style: hidden;
  text-align: center;
}